body {
    background-color: grey;
}

.grid-container {
display: grid;
width: fit-content;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
padding: 10px;
float: left;
}

.grid-item {
background-color: green;
border: 1px solid rgba(0, 0, 0, 0.8);
width: 30px;
height: 30px;
text-align: center;
}

.panel {
    display: flex;
    flex-direction: row;
    
}

.panel-button {
    display: flexbox;
    
}

#map {
    background-color:saddlebrown;
}