body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    float: left;
    background-color:saddlebrown;

}

.grid-tile {
    background-color: green;
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background-position: 1px 1px;
}

.slot {
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    background-color: rgb(50, 50, 50);
}

.panel {
    display: flex;
    background-color: rgb(200,200,200);
    margin: 10px;
    padding: 5px; 
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    flex-direction: column;
    gap: 5px;
}

.resource-panel {
    background-color: rgb(150,150,150);
    margin: 2px;
    padding: 2px; 
}

#button-panel {
    flex-direction: row;
}

#resource-panel {
    flex-direction: row;
}

#game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#panel-container {
    display: flex;
    flex-direction: column;
}

#food-panel {
    border: 2px solid orange;
}

#wood-panel {
    border: 2px solid saddlebrown;
}

#metal-panel {
    border: 2px solid rgb(50, 50, 50);
}

