body {
    background-color: grey;
}

.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    float: left;
    background-color:saddlebrown;

}

.grid-tile {
    background-color: green;
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}

.slot {
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    background-color: rgb(50, 50, 50);
}

.tile-img {
    width: 30px;
    height: 30px;
}

.panel {
    display: flex;
    background-color: rgb(200,200,200);
    margin: 10px;
    padding: 5px; 
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    flex-direction: row;
    gap: 5px;
}
