.ocean-tile {
    background-color: blue;
}

.sand-tile {
    background-color: sandybrown;
}

.grass-tile {
    background-color: green;
}

.forest-tile {
    background-color: darkgreen;
}

.mountain-tile {
    background-color: rgb(30, 30, 30);
}

.cursor {
    border: 2px solid gold;
}

.home {
    background-image: url("img/home.png");
}