.ocean-tile {
    background-color: blue;
}

.sand-tile {
    background-color: sandybrown;
}

.grass-tile {
    background-color: green;
}

.forest-tile {
    background-color: darkgreen;
}

.mountain-tile {
    background-color: rgb(30, 30, 30);
}

.claimed-tile {
    background-image: url("img/claim.png")
}

.home-tile {
    background-image: url("img/home.png");
}

.cursor-tile {
    border: 2px solid gold;
    padding: 0px;
    background-position: 0px 0px;
}